<?xml version="1.0"?>
<config>
    <modules>
        <Iconic_Client>
            <version>0.0.1</version>
        </Iconic_Client>
    </modules>
    <frontend>
        <routers>
            <client>
                <use>standard</use>
                <args>
                    <module>Iconic_Client</module>
                    <frontName>client</frontName>
                </args>
            </client>
        </routers>
        <layout>
            <updates>
                <client>
                    <file>client.xml</file>
                </client>
            </updates>
        </layout>
    </frontend>  
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iconic_client before="Mage_Adminhtml">Iconic_Client_Adminhtml</iconic_client>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 
    <global>
        <models>
            <client>
                <class>Iconic_Client_Model</class>
                <resourceModel>client_mysql4</resourceModel>
            </client>
            <client_mysql4>
                <class>Iconic_Client_Model_Mysql4</class>
                <entities>
                    <client>
                        <table>client</table>
                    </client>
                </entities>
            </client_mysql4>
        </models>
        <resources>
            <client_setup>
                <setup>
                    <module>Iconic_Client</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </client_setup>
            <client_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </client_write>
            <client_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </client_read>
        </resources>
        <blocks>
            <client>
                <class>Iconic_Client_Block</class>
            </client>
        </blocks>
        <helpers>
            <client>
                <class>Iconic_Client_Helper</class>
            </client>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <client>
                        <type>singleton</type>
                        <class>Iconic_Client_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </client>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>