#main .col-main{
	width: 420px;
	margin: auto;
}
form#create-job{
	width: 420px;
	margin: auto;
}
form#create-job ul > li{
	margin: 10px 0;
	position: relative;
}
form#create-job ul > li.row2:after{
	clear: both;
    content: ".";
    display: block;
    font-size: 0;
    height: 0;
    line-height: 0;
    visibility: hidden;
}
form#create-job ul > li.row2 .first,
form#create-job ul > li.row2 .last{
	width: 202px;
}
form#create-job ul > li.row2 input.first,
form#create-job ul > li.row2 input.last{
	width: 176px;
}
form#create-job ul > li.row2 .first{
	float: left;
}
form#create-job ul > li.row2 .last{
	float: right;
}
form#create-job li > input:not([type="radio"]){
	width: 394px;
}
form#create-job li > textarea{
	width: 398px;
	height: 80px;
	padding: 5px 10px;
}
div.cke{
	border: solid 3px #D2D4D5;
}
div.cke.cke_focus{
	border-color: rgb(166, 166, 166);
}
div.cke.after-input{
	border-color: #D2D4D5;
}
form#create-job div.button{
	text-align: center;
	margin-top: 30px;
	margin-bottom: 20px;
}
form#create-job div.button > button.inactive{
	margin-right: 10px;
}
form#create-job div.button > button{
	border: none;
	border-radius: 3px;
	padding: 5px 20px;
	font-size: 22px;
	margin-top: 20px;
}
form#create-job div.button > button.inactive{
	background-color: grey;
}
form#create-job div.button > button.active{
	background-color: #005baa;
}
form#create-job .row2 a.select-button{
	padding: 3px 10px;
	width: 176px;
	border: solid 3px #D2D4D5;
	display: block;
	color: #A8A8A8;
	text-decoration: none;
	background: url('../images/select-arrow.png') right 5px center no-repeat #fff;
	cursor: context-menu;
}
form#create-job .row2 a.select-button.after-input{
	color: #000;
	border-color: #b0b2b4;
}
form#create-job .row2 a.select-button.focus{
	border-color: #000;
	background-color: #000;
	color: #fff;
}
form#create-job li.row2 .select-box{
	position: absolute;
	z-index: 99;
	background-color: #fff;
	top: 32px;
	border: solid 1px #000;
	display: none;
}
form#create-job li.row2 #language-level-box{
	width: 640px;
	height: 320px;
	overflow-y: auto;
}
form#create-job li.row2 #features-box{
	width: 500px;
	padding: 15px;
}
form#create-job li.row2 #features-box > .feature{
	width: 50%;
	color: #000;
}
form#create-job li.row2 #features-box > .feature > input{
	vertical-align: middle;
	margin-right: 5px;
}
form#create-job li.row2 .select-box > .lang{
	padding: 10px 20px;
}
form#create-job li.row2 .select-box > .lang+.lang{
	border-top: solid 1px lightgrey;
}
form#create-job li.row2 .select-box > .lang .fll{
	width: 100px;
	font-weight: bold;
	color: #000;
}

form#create-job li.row2 .select-box > .lang .flr{
	width: 480px;
}
form#create-job li.row2 .select-box > .lang .lang-level{
	width: 25%;
	font-size: 12px;
	letter-spacing: -1px;
}
form#create-job li.row2 .select-box > .lang .lang-level > input{
	vertical-align: middle;
}
form#create-job .cke_editable{
	font: 15px 'MS PGothic';
	font-family: "ヒラギノ角ゴ Pro W3","Hiragino Kaku Gothic Pro","メイリオ",Meiryo,Osaka,"ＭＳ Ｐゴシック","MS PGothic",sans-serif;
}
