.news-item{
	margin: 0 auto;
	padding: 20px 0;
}
.news-item .news-image >img{
	width: 140px;
	height: 140px;
	border-radius: 10px;
}
.news-item .news-content h5 > a{
	text-transform: uppercase;
	font-size: 25px;
	line-height: 30px;
	text-decoration: none;
}
.news-item .news-content span.date{
	color: #000;
}
span.author span.line{
	margin: 0 10px;
}
.news-item .news-content .description{
	margin-top: 15px;
}
.news-item + .news-item{
	border-top: solid 2px #bcbec0;
}

/*
	BLOG ENTRY
*/
#blog-content{
	padding-left: 20px;
}
#blog-content h1{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 30px;
}
#blog-content h1 > a{
	text-transform: uppercase;
	font-size: 25px;
	font-weight: 30px;
	color: #1197EC;
	text-decoration: none;
}
#blog-content .news{
	margin-top: 25px;
}
#blog-content .news a{
	color: #1197EC;
	text-decoration: underline;
}
body.clnews-newsitem-view .news-categories{
	margin-top: 60px;
}
