/*
	Styles for IconicVN
*/
html, button, input, select, textarea {
	font-family: 'Roboto Condensed', sans-serif;
	color: #58595b;
	font-size: 14px;
}
#header{
	background-color: #1197ec;
	min-height: 300px;
	border-bottom: solid 4px #0c69a5;
}
#header #header-menu{
	height: 85px;
	background-color: #fff;
}

/*
 * LOGO 
*/
#header #header-menu #logo{
	margin-top: 18px;
	margin-left: 10px;
}

/* 
 * MENU
 */
#header #header-menu #menu{
	margin-top: 50px;
}
#header #header-menu #menu ul{
	list-style: none;
}
#header #header-menu #menu li{
	display: inline;
}
#header #header-menu #menu ul li a{
	padding: 5px 18px;
	text-transform: uppercase;
	color: #939598;
	font-size: 14px;
	font-weight: bold;
	position: relative;
}
#header #header-menu #menu ul li a:hover{
	color: #1197EC;
}
#header #header-menu #menu ul li.current-menu-item a{
	color: #1197ec;
}
#header #header-menu #menu ul li.current-menu-item a:before{
	content: " ";
	position: absolute;
	width: 0;
	height: 0;
	bottom: -112%;
	left: 50%;
	pointer-events: none;
	border: solid transparent;
}
#header #header-menu #menu ul li.current-menu-item a:before{
	border-color: #1197EC;
	border-top-color: #fff;
	border-width: 10px;
	margin-left: -10px;
}

/*
 * LANDING
*/
#header #header-landing{
	min-height: 310px;
}
body.cms-home #header #header-landing{
	min-height: 600px;
	background: url('../images/landing_bg.png') center 80px no-repeat transparent;
}
#header #header-landing h1{
	text-align: center;
	color: #fff;
	text-shadow: 2px 0px 2px #000;
	font-weight: bold;
	margin-top: 45px;
	font-size: 45px;
}
#header #header-landing #user{
	margin-top: 30px;
	text-align: center;
}
#header #header-landing #user > a{
	display: inline-block;
	width: 150px;
	padding: 15px 10px;
	text-align: center;
	text-transform: uppercase;
	font-size: 25px;
	font-weight: bold;
	border: solid 4px #fff;
	border-radius: 10px;
	-webkit-box-shadow: 4px -4px 0px -2px rgba(0, 0, 0, 0.15);
    -moz-box-shadow: 4px -4px 0px -2px rgba(0, 0, 0, 0.15);
    box-shadow: 4px -4px 0px -2px rgba(0, 0, 0, 0.15);
}
#header #header-landing #user > a#logout{
	background-color: #59b6f2;
	border: 0;
	text-transform: none;
	font-weight: 300;
}
#header #header-landing #user > a#logout:hover{
	background-color: #fff;
}
#header #header-landing #user > span#logged-user{
	color: #fff;
	font-size: 28px;
}
#header #header-landing #user > a.last{
	margin-left: 30px;
}

/*
	MAIN CONTENT
*/
#main{
	min-height: 600px;
	margin-top: -145px;
	background-color: #fff;
	border-radius: 10px;
	border-top: solid 4px #0c69a5;
	position: relative;
}
#main:before{
	content: " ";
	position: absolute;
	right: 0px;
	top: 1px;
	width: 1px;
	height: 140px;
	border-right: solid 4px #0c69a5;
	border-top-right-radius: 5px;
}
#main .col-main{
	padding: 15px;
}

/*
	FOOTER
*/
#footer{
	background-color: #e6e7e8;
}
#footer #slogan{
	padding: 30px 0;
}
#footer #slogan h2{
	text-align: center;
	line-height: 25px;
}
#footer #slogan h2 span{
	color: #1197EC;
}
#footer #contact-information{
	padding-bottom: 20px;
}
#footer #contact-information .wrapper > div{
	padding-top: 30px;
}
#footer #contact-information .wrapper > div h4{
	text-transform: uppercase;
	font-weight: bold;
	font-size: 15px;
	color: #000;
}
#footer #contact-information #social{
	width: 15%;	
}
#footer #contact-information #social .social-links{
	width: 70%;
	margin-top: 20px;
}
#footer #contact-information #social .social-links > a{
	display: inline-block;
	width:32px;
	height: 32px;
}
#footer #contact-information #social .social-links > a.facebook{
	background: url('../images/social/facebook.png') center no-repeat transparent;
}
#footer #contact-information #social .social-links > a.twitter{
	background: url('../images/social/twitter.png') center no-repeat transparent;
	margin-left: 15px
}
#footer #contact-information #social .social-links > a.in{
	background: url('../images/social/in.png') center no-repeat transparent;
	margin-top: 15px;
}
#footer #contact-information #social .social-links > a.google{
	background: url('../images/social/google.png') center no-repeat transparent;
	margin-left: 15px;
	margin-top: 15px;
}
#footer #contact-information #social .social-links > a.facebook:hover{
	background: url('../images/social/facebook-active.png') center no-repeat transparent;
}
#footer #contact-information #social .social-links > a.twitter:hover{
	background: url('../images/social/twitter-active.png') center no-repeat transparent;
	margin-left: 15px
}
#footer #contact-information #social .social-links > a.in:hover{
	background: url('../images/social/in-active.png') center no-repeat transparent;
	margin-top: 15px;
}
#footer #contact-information #social .social-links > a.google:hover{
	background: url('../images/social/google-active.png') center no-repeat transparent;
	margin-left: 15px;
	margin-top: 15px;
}
#footer #contact-information #address{
	width: 45%;
	margin-left: 5%;
	color: #6d6e71;
}
#footer #contact-information #address .company-location{
	padding-left: 20px;
	background: url('../images/location.png') left top no-repeat transparent;
	margin-top: 20px;
}
#footer #contact-information #address .company-phone{
	padding-left: 20px;
	background: url('../images/phone.png') left top no-repeat transparent;
	margin-top: 20px;
}
#footer #contact-information #address > div > div{
	width: 45%;
}
#footer #contact-information #contact-form{
	width: 30%;
}
#footer #contact-information #contact-form form{
	margin-top: 15px;
}
#footer #contact-information #contact-form form input{
	margin-bottom: 5px;
	width: 91%;
}
#footer #contact-information #contact-form form textarea{
	width: 91%;
	margin-bottom: 5px;
}
#footer #contact-information #contact-form form button#submit{
	padding: 6px 36px;
	box-shadow: none;
	-webkit-appearance: none;
	border: 0;
}
#footer #copyright{
	color: #939598;
	background-color: #2a303c;
	padding: 20px 0;
	text-transform: uppercase;
	font-weight: bold;
	font-size: 16px;
}
