<?xml version="1.0"?>
<config>
    <modules>
        <Iconic_Job>
            <version>0.2.4</version>
        </Iconic_Job>
    </modules>
    <frontend>
        <routers>
            <job>
                <use>standard</use>
                <args>
                    <module>Iconic_Job</module>
                    <frontName>job</frontName>
                </args>
            </job>
            <customer>
                <args>
                    <modules>
                        <Iconic_Job before="Mage_Customer">Iconic_Job_Customer</Iconic_Job>
                    </modules>
                </args>
            </customer>
        </routers>
        <layout>
            <updates>
                <job>
                    <file>job.xml</file>
                </job>
            </updates>
        </layout>
        <translate>
            <modules>
                <translations>
                    <files>
                        <default>Iconic_Job.csv</default>
                    </files>
                </translations>
            </modules>
        </translate>
    </frontend>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iconic_job before="Mage_Adminhtml">Iconic_Job_Adminhtml</iconic_job>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <global>
        <models>
            <job>
                <class>Iconic_Job_Model</class>
                <resourceModel>job_mysql4</resourceModel>
            </job>
            <category>
                <class>Iconic_Job_Model_Category</class>
                <resourceModel>job_category</resourceModel>
            </category>
            <level>
                <class>Iconic_Job_Model_Level</class>
                <resourceModel>job_level</resourceModel>
            </level>
            <type>
                <class>Iconic_Job_Model_Type</class>
                <resourceModel>job_type</resourceModel>
            </type>
            <parentcategory>
            	<class>Iconic_Job_Model_Parentcategory</class>
                <resourceModel>job_parent_category</resourceModel>
            </parentcategory>
            <listlocation>
            	<class>Iconic_Job_Model_Listlocation</class>
                <resourceModel>list_location</resourceModel>
            </listlocation>
            <location>
                <class>Iconic_Job_Model_Location</class>
                <resourceModel>job_location</resourceModel>
            </location>
            <job_mysql4>
                <class>Iconic_Job_Model_Mysql4</class>
                <entities>
                    <job>
                        <table>job</table>
                    </job>
                    <category>
                    	<table>job_category</table>
                    </category>
                    <parentcategory>
                        <table>job_parent_category</table>
                    </parentcategory>
                    <listlocation>
                        <table>list_location</table>
                    </listlocation>
                    <location>
                        <table>job_location</table>
                    </location>
                    <level>
                        <table>job_level</table>
                    </level>
                    <type>
                        <table>job_type</table>
                    </type>
                </entities>
            </job_mysql4>
        </models>
        <resources>
            <job_setup>
                  <setup>
                    <module>Iconic_Job</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                  </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </job_setup>
            <job_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </job_write>
            <job_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </job_read>
        </resources>
        <blocks>
            <job>
                <class>Iconic_Job_Block</class>
            </job>
        </blocks>
        <helpers>
            <job>
                <class>Iconic_Job_Helper</class>
            </job>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <job>
                        <type>singleton</type>
                        <class>Iconic_Job_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </job>
                </observers>
            </controller_front_init_routers>
        </events>
        <fieldsets>
            <customer_account>
                 <sex><create>1</create><update>1</update><name>1</name></sex>
            </customer_account>
        </fieldsets>
        <rewrite>
            <iconic_job_checkout_cart>
                <from><![CDATA[#^/customer/account/#]]></from>
                <!--
                    - mymodule matches the router frontname below
                    - checkout_cart matches the path to your controller
                   
                    Considering the router below, "/mymodule/checkout_cart/" will be
                    "translated" to "/MyNameSpace/MyModule/controllers/Checkout/CartController.php" (?)
                -->
                <to>/job/customer_account/</to>
            </iconic_job_checkout_cart>
        </rewrite>
    </global>
</config>