<?xml version="1.0"?>
<config>
    <modules>
        <Iconic_Job>
            <version>0.1.3</version>
        </Iconic_Job>
    </modules>
    <frontend>
        <routers>
            <job>
                <use>standard</use>
                <args>
                    <module>Iconic_Job</module>
                    <frontName>job</frontName>
                </args>
            </job>
        </routers>
        <layout>
            <updates>
                <job>
                    <file>job.xml</file>
                </job>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <job>
                <use>admin</use>
                <args>
                    <module>Iconic_Job</module>
                    <frontName>job</frontName>
                </args>
            </job>
        </routers>
    </admin>
    <adminhtml>
        <menu>
            <job module="job">
	            <title>Iconic</title>
	            <sort_order>71</sort_order>               
	            <children>
	                <jobs module="job">
	                    <title>Manage Jobs</title>
	                    <sort_order>0</sort_order>
	                    <action>job/adminhtml_job</action>
	                </jobs>
	                <categories module="job">
	                    <title>Manage Categories</title>
	                    <sort_order>1</sort_order>
	                    	<children>
	                    		<parent module="job">
				                    <title>Parent Categories</title>
				                    <sort_order>0</sort_order>
				                    <action>job/adminhtml_parentcategory</action>
				                </parent>
				                <sub module="job">
				                    <title>Sub Categories</title>
				                    <sort_order>0</sort_order>
				                    <action>job/adminhtml_category</action>
				                </sub>
	                    	</children>
	                </categories>
	                <location module="job">
	                    <title>Manage Location</title>
	                    <sort_order>0</sort_order>
	                    <action>job/adminhtml_location</action>
	                </location>
	            </children>
	        </job>
        </menu>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <job>
                            <title>Job Module</title>
                            <sort_order>200</sort_order>
                        </job>
                    </children>
                </admin>
            </resources>   
        </acl>
        <layout>
            <updates>
                <job>
                    <file>job.xml</file>
                </job>
            </updates>
        </layout>
    </adminhtml>   
    <global>
        <models>
            <job>
                <class>Iconic_Job_Model</class>
                <resourceModel>job_mysql4</resourceModel>
            </job>
            <category>
                <class>Iconic_Job_Model_Category</class>
                <resourceModel>job_category</resourceModel>
            </category>
            <level>
                <class>Iconic_Job_Model_Level</class>
                <resourceModel>job_level</resourceModel>
            </level>
            <type>
                <class>Iconic_Job_Model_Type</class>
                <resourceModel>job_type</resourceModel>
            </type>
            <parentcategory>
            	<class>Iconic_Job_Model_ParentCategory</class>
                <resourceModel>job_parent_category</resourceModel>
            </parentcategory>
            <location>
                <class>Iconic_Job_Model_Location</class>
                <resourceModel>job_location</resourceModel>
            </location>
            <job_mysql4>
                <class>Iconic_Job_Model_Mysql4</class>
                <entities>
                    <job>
                        <table>job</table>
                    </job>
                    <category>
                    	<table>job_category</table>
                    </category>
                    <parentcategory>
                        <table>job_parent_category</table>
                    </parentcategory>
                    <location>
                        <table>job_location</table>
                    </location>
                    <level>
                        <table>job_level</table>
                    </level>
                    <type>
                        <table>job_type</table>
                    </type>
                </entities>
            </job_mysql4>
        </models>
        <resources>
            <job_setup>
                  <setup>
                    <module>Iconic_Job</module>
                    <class>Mage_Customer_Model_Entity_Setup</class>
                  </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </job_setup>
            <job_write>
                <connection>
                    <use>core_write</use>
                </connection>
 
 
            </job_write>
            <job_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </job_read>
        </resources>
        <blocks>
            <job>
                <class>Iconic_Job_Block</class>
            </job>
        </blocks>
        <helpers>
            <job>
                <class>Iconic_Job_Helper</class>
            </job>
        </helpers>
    </global>
</config>