<?xml version="1.0"?>
<config>
    <modules>
        <Iconic_Blog>
            <version>0.0.6</version>
        </Iconic_Blog>
    </modules>
    <frontend>
        <routers>
            <blog>
                <use>standard</use>
                <args>
                    <module>Iconic_Blog</module>
                    <frontName>blog</frontName>
                </args>
            </blog>
        </routers>
        <layout>
            <updates>
                <blog>
                    <file>blog.xml</file>
                </blog>
            </updates>
        </layout>
    </frontend>  
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <iconic_blog before="Mage_Adminhtml">Iconic_Blog_Adminhtml</iconic_blog>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin> 
    <global>
        <models>
            <blog>
                <class>Iconic_Blog_Model</class>
                <resourceModel>blog_mysql4</resourceModel>
            </blog>
            <category>
                <class>Iconic_Blog_Model_Category</class>
                <resourceModel>blog_category</resourceModel>
            </category>
            <parentcategory>
            	<class>Iconic_Blog_Model_Parentcategory</class>
                <resourceModel>blog_parentcategory</resourceModel>
            </parentcategory>
            <author>
                <class>Iconic_Blog_Model_Author</class>
                <resourceModel>blog_author</resourceModel>
            </author>
            <blog_mysql4>
                <class>Iconic_Blog_Model_Mysql4</class>
                <entities>
                    <blog>
                        <table>blog</table>
                    </blog>
                    <category>
                        <table>blog_category</table>
                    </category>
                    <parentcategory>
                        <table>blog_parentcategory</table>
                    </parentcategory>
                    <author>
                        <table>blog_author</table>
                    </author>
                </entities>
            </blog_mysql4>
        </models>
        <resources>
            <blog_setup>
                <setup>
                    <module>Iconic_Blog</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </blog_setup>
            <blog_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </blog_write>
            <blog_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </blog_read>
        </resources>
        <blocks>
            <blog>
                <class>Iconic_Blog_Block</class>
            </blog>
        </blocks>
        <helpers>
            <blog>
                <class>Iconic_Blog_Helper</class>
            </blog>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <blog>
                        <type>singleton</type>
                        <class>Iconic_Blog_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </blog>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
</config>